<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Unauthenticated page</title>
</head>
<body>
<h1>Unauthenticated page</h1>
<p><a href="/authenticated">Authenticated page</a></p>
</body>
</html>
